body{
    background-color: #f8f9fa;
}

.form-control{
    border-radius: 10px;
    border: 1px solid #9c9696;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.304);
    transition: all 0.2s ease;
    margin-bottom: 20px;
}

form{
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
}
form .row{
    display: flex;
    justify-content: center;
    max-width: 450px;
    margin: 0 auto;
}

th, td{
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #c2d0da;
}